.fleurdesel-pagetitle {
  padding: 168px 0;
  position: relative;
}

.section-header {
  text-align: center;
}

.fleurdesel-title {
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  font-family: $font-1;
}
